
/* section one styling*/
body{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 background-color: whitesmoke;
 width: 100%;
 height: 100vh;
}
nav{
 display: flex;
 border-bottom: 1px solid hsl(352, 49%, 40%);
}
ul{
 display: flex;
 list-style: none;
}

.navcolor {
  color: hsl(352, 49%, 40%);
}


.right{
 margin-left: 500px;
}

.section1 .left a{
 text-decoration: none;
 font-family: sans-serif;
 font-size: xx-large;
 font-weight: bold;
 color: #993441;
 padding-top: 5px;
 cursor: pointer;
}
.logo{
  margin-left: 30px;
}
.right li{
 padding-right: 30px;
 text-transform: capitalize;
 font-family: sans-serif;
 font-size: 15px;
 color: #993441;
 padding-top: 15px;
 cursor: pointer;
}
.right input{
 margin-right: 30px;
 width: 100px;
 height: 45px;
 border-radius: 10px;
 font-size: 15px;
 text-transform: capitalize;
 cursor: pointer;
}
.login{
 border: 1px solid #993441;
 color: #993441;
 background-color: whitesmoke;
}
.login:hover{
 border: 1px solid #993441;
 color: #ffb8b1;
 background-color: #993441;
}
.sign{
 border: 1px solid #993441;
 color: #ffb8b1;
 background-color: #993441;
}
 .content{
  padding-top: 150px;
 }   

.mentee{
 background-color: transparent;
 margin-left: 50px;
 font-family: sans-serif;
 text-transform: capitalize;
 font-size: 15px;
 font-weight: 500;
}
h2{
 text-transform: capitalize;
 font-size: 45px;
 font-weight: 700;
 padding-left: 70px;
 color: #993441;
}
.section1 p{
 padding-left: 70px;
 text-transform: capitalize;
 font-size: x-large;
 font-weight: lighter;
 font-family: sans-serif;
 color: rgb(36, 11, 11);
} 
.section1{
 margin-bottom: 50px;
}
.w3-bar-item{
 font-family: sans-serif;
 text-transform: capitalize;
 font-size: 15px;
 font-weight: 500;
 background-color: transparent;
 border: none;
}
#btn1{
  margin-left: 70px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.search{
 margin-left: 70px;
 border: 1px solid rgba(153, 52, 65, 0.3);
 height: 70px;
 border-radius: 10px;
 width: 70%;
 display: flex;
}
.search input{
 margin-top: 20px;
 border: 0;
 outline: 0;
 width: 250px;
 background-color: transparent;
 padding-left: 15px;
 padding-right: 0px;
 border-right: 1px solid rgba(153, 52, 65, 0.3);
 height: 35px;
}
#mag_glass{
  margin-left: 15px;
  color: gray;
  margin-top: 29px;
}
#btn1:hover{
 border-bottom: 2px solid #993441;
 color: #993441;
}
#btn2:hover{
 border-bottom: 2px solid #993441;
 color: #993441;
 padding-bottom: 5px;
}
#btn3{
 height: 60px;
 margin-left: 70px;
 width: 30%;
 border-radius: 10px;
 border: none;
 font-size: large;
 text-transform: capitalize;
 background-color: #993441;
 }
#pick{
  border: none;
  outline: 0;
  background-color: transparent;
  width: auto;
}
.select{
  margin-top: 20px;
  padding-top: 10px;
  height: 25px;
  padding-right: 10px;
  padding-left: 20px;
  border-right: 1px solid rgba(153, 52, 65, 0.3);
}
#search_btn{
  background-color: #993441;
  width: 150px;
  height: 60px;
  padding-right: 15px;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 50px;
}
#select_2{
  border: none;
}
/* end of section one styling*/

/* section 3*/
.section3{
  display: flex;
  margin-bottom: 20px;
}
.book{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(/assets/images/book_1.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  margin-left: 70px;
  border-radius: 30px
}
.group{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(/assets/images/video.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  margin-left: 70px;
  border-radius: 30px;
}
.section3 strong{
  text-transform: capitalize;
  font-size: xx-large;
}
.section3 h5{
  font-family: sans-serif;
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6),black);
  color: wheat;
  font-size: small;
  padding: 25px;
  margin-top: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.section3 button{
  height: 45px;
  margin: 20px;
  width: 150px;
  border-radius: 10px;
  border: none;
  color: wheat;
  background-color: #993441;
  text-transform: capitalize;
}

/*Section 2 Style*/
.img1{
    background-image: url(./assets/images/man2.jpg);
    background-size: cover;
    height: 700px;
    border-radius: 15px;
}
h1{
    padding-top: 200px;
    color: white;
    margin-left: 40px;
}
h3{
    color: white;
    display: flex;
}
#column1{
    float: left;
    background-color: rgba(4, 15, 4, 0.979);
    width: 300px;
    color: white;
    margin-left: 50px;
    height: 150px;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 20px;
    height: 220px;
}
#column2{
    float: left;
    background-color: rgba(4, 15, 4, 0.979);
    width: 300px;
    color: white;  
    margin-left: 50px;
    height: 220px;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 20px;
}
#column3{
    float: left;
    background-color: rgba(4, 15, 4, 0.979);
    width: 300px;
    color: white;
    margin-left: 50px;
    height: 220px;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
    padding-left: 15px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 7px;
    font-size: 17px;
    
}
/*end of section2*/

/* section 3*/
.profile1{
 height: 400px;
 width: 300px;
 background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)),url(/assets/images/profile_pic2.jpeg);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 border-radius: 20px;
}
.profile2{
  height: 400px;
  width: 300px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
 }
 .profile3{
  height: 400px;
  width: 300px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic3.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
 }
 .profile4{
  height: 400px;
  width: 300px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic4.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
 }
 .profile5{
  height: 400px;
  width: 300px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic5.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
 }
 .profile6{
  height: 400px;
  width: 300px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic6.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
 }
 .profile7{
  height: 400px;
  width: 300px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic7.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
 }
 .profile8{
  height: 400px;
  width: 300px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic8.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
 }
 .profile9{
  height: 400px;
  width: 300px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic9.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
 }
 .profile10{
  height: 400px;
  width: 300px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic10.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
 }
 #headshot{
  margin-left: 50px;
 }
#section4{
 margin-left: 20px;
 padding-bottom: 30px;
 overflow: auto;
}

.bottom{
 padding-top: 250px;
 margin-left: 30px;
 color: bisque;
}
.fa-plus{
 padding-right: 20px;
 font-size: small;
 color: wheat;
}
.fa-heart{
 color: #993441;
}
.fa{
 float: right;
 margin: 20px;
}
.bottom h4{
 text-transform: capitalize;
 font-family: sans-serif;
}
.bottom_link{
 display: flex;
 text-transform: capitalize;
 font-size: small;
}
.bottom b{
 font-size: small;
}
.profile_container{
  display: flex;
  width: 250vw;
  
}
.section4 h3{
  margin-left: 70px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: larger;
  color: #993441;
}
.fixed{
  display: flex;
}
.fixed a{
  text-decoration: none;
  color: #993441;
  text-transform: capitalize;
  border: 1px solid #993441;
  width: 120px;
  text-align: center;
  padding-top: 10px;
  height: 25px;
  border-radius: 10px;
  margin-left: 800px;
}

/*mentor list css*/
.mentor_container{
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center;
  margin: 20px;
}
#list a{

 text-decoration: none;
 font-family: sans-serif;
 font-size: xx-large;
 font-weight: bold;
 color: #993441;
 padding-top: 5px;
 cursor: pointer;
}
#srch{
  margin-left: 170px;
  margin-top: 20px;
}
.profile1{
  height: 400px;
  width: 300px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)),url(/assets/images/profile_pic2.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
 }
 .profile2{
   height: 400px;
   width: 300px;
   background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 20px;
  }
  .profile3{
   height: 400px;
   width: 300px;
   background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic3.webp);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 20px;
  }
  .profile4{
   height: 400px;
   width: 300px;
   background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic4.jpeg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 20px;
  }
  .profile5{
   height: 400px;
   width: 300px;
   background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic5.jpeg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 20px;
  }
  .profile6{
   height: 400px;
   width: 300px;
   background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic6.jpeg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 20px;
  }
  .profile7{
   height: 400px;
   width: 300px;
   background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic7.jpeg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 20px;
  }
  .profile8{
   height: 400px;
   width: 300px;
   background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic8.jpeg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 20px;
  }
  .profile9{
   height: 400px;
   width: 300px;
   background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic9.webp);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 20px;
  }
  .profile10{
   height: 400px;
   width: 300px;
   background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic10.webp);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 20px;
  }
  .profile11{
    height: 400px;
    width: 300px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic11.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
   }
   .profile12{
    height: 400px;
    width: 300px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic12.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
   }
   .profile13{
    height: 400px;
    width: 300px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic13.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
   }
   .profile14{
    height: 400px;
    width: 300px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic14.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
   }
   .profile15{
    height: 400px;
    width: 300px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(/assets/images/profile_pic15.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
   }
   #headshot_m{
     margin-bottom: 20px;
   }
   h6{
     margin-bottom: 0;
     margin-left: 170px;
     font-family: sans-serif;
     font-size: xx-large;
   }
   h6 b{
     font-size: small;
     color: #993441;
   }

/*start of section5*/
/*styling footer*/
.footer{
    margin-top: 60px;
}
#footer{
    float: left;
    margin: 100px 100px 0px 70px;
    align-items: center;
}
#footer1{
    float: left;
    margin-top: 50px;
}
#footer2{
    float: left;
    margin-left: 90px;
    margin-top: 50px;
}
#footer3{
    float: left;
    margin-left: 90px;
    margin-top: 50px;
}
#footer4{
    float: left;
    margin-left: 90px;
    margin-top: 50px;
}
img{
    width: 40px;
    margin-top: 40px;
}
p{
    font-size: 15px;
}
.h2{
    font-size: 20px;
}

/* end of section5*/
