/*Section 2 Style*/
.img1{
    background-image: url(./assets/images/man2.jpg);
    background-size: cover;
    height: 700px;
    border-radius: 15px;
}
h1{
    padding-top: 200px;
    color: white;
    margin-left: 40px;
    padding-right: 1200px;
}
h3{
    color: white;
    display: flex;
}
#column1{
    float: left;
    background-color: rgba(4, 15, 4, 0.979);
    width: 300px;
    color: white;
    margin-left: 50px;
    height: 150px;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 20px;
    height: 220px;
}
#column2{
    float: left;
    background-color: rgba(4, 15, 4, 0.979);
    width: 300px;
    color: white;  
    margin-left: 50px;
    height: 220px;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 20px;
}
#column3{
    float: left;
    background-color: rgba(4, 15, 4, 0.979);
    width: 300px;
    color: white;
    margin-left: 50px;
    height: 220px;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
    padding-left: 15px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 7px;
    font-size: 17px;
    
}
/*end of section2*/